
@{
    ViewData["Title"] = "Person";
}

<h2 class="alert alert-info">Person</h2>
<h2 class="alert alert-info">@ViewBag.name</h2>
<h2 class="alert alert-info">@ViewBag.mobile</h2>
<h2 class="alert alert-info">@ViewBag.address</h2>
